[submodule "rsp_pick_and_place"]
	path = rsp_pick_and_place
	url = https://github.com/mats-robotics/rsp_pick_and_place
[submodule "open_manipulator_applications"]
	path = open_manipulator_applications
	url = https://github.com/ROBOTIS-GIT/open_manipulator_applications.git
