[submodule "rsp_pick_and_place"]
	path = rsp_pick_and_place
	url = https://github.com/mats-robotics/rsp_pick_and_place
[submodule "open_manipulator_applications"]
	path = open_manipulator_applications
	url = https://github.com/ROBOTIS-GIT/open_manipulator_applications.git
[submodule "dynamixel-workbench"]
	path = dynamixel-workbench
	url = https://github.com/ROBOTIS-GIT/dynamixel-workbench/
[submodule "open_manipulator_perceptions"]
	path = open_manipulator_perceptions
	url = https://github.com/ROBOTIS-GIT/open_manipulator_perceptions
[submodule "open_manipulator_msgs"]
	path = open_manipulator_msgs
	url = https://github.com/ROBOTIS-GIT/open_manipulator_msgs
[submodule "DynamixelSDK"]
	path = DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK/
[submodule "dynamixel-workbench-msgs"]
	path = dynamixel-workbench-msgs
	url = https://github.com/ROBOTIS-GIT/dynamixel-workbench-msgs
[submodule "open_manipulator"]
	path = open_manipulator
	url = https://github.com/ROBOTIS-GIT/open_manipulator
[submodule "open_manipulator_dependencies"]
	path = open_manipulator_dependencies
	url = https://github.com/ROBOTIS-GIT/open_manipulator_dependencies
[submodule "open_manipulator_simulations"]
	path = open_manipulator_simulations
	url = https://github.com/ROBOTIS-GIT/open_manipulator_simulations
[submodule "robotis_manipulator"]
	path = robotis_manipulator
	url = https://github.com/ROBOTIS-GIT/robotis_manipulator
[submodule "realsense"]
	path = realsense
	url = https://github.com/IntelRealSense/realsense-ros
